*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Tahoma,sans-serif;
}

body{
    background:#f3f3f3;
}

header{
    background:#1e1e1e;
    color:white;
    text-align:center;
    padding:20px;
    font-size:24px;
}

.container{
    display:flex;
    height:calc(100vh - 80px);
}

.sidebar{
    width:220px;
    background:#222;
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.sidebar button{
    padding:15px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
    background:#d4af37;
    color:white;
    transition:.3s;
}

.sidebar button:hover{
    background:#b58d18;
}

.canvas{
    flex:1;
    background:white;
    position:relative;
    overflow:hidden;
    border-right:3px solid #ddd;
}

.item{
    position:absolute;
    cursor:move;
    user-select:none;
}

.trunk{
    width:170px;
}

.branch{
    width:180px;
}

.leaf{
    width:70px;
}

.text-item{
    position:absolute;
    background:white;
    border:1px solid #ccc;
    padding:5px 10px;
    border-radius:8px;
    cursor:move;
    font-size:18px;
}
